body {
    color: #183D3D;
    margin: 0 2rem;
    font-family: Arial, Helvetica, sans-serif;

}

main {
    background-color: #93B1A6;
    text-align: center;
    padding: 2% 20% 2% 20%;
    

}

footer{
    background-color: #5C8374;
    color: #040D12;
    text-align: center;
    font-size: 16px;
    padding: 2rem;
    
}

hr {
    margin: 2rem 0;
    border: 2px solid #040D12;
    border-style: groove;

}

h1{
    font-size: 40px;
    margin-top: 0;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

button {
    background-color: #5C8374;
    color: #040D12;
    border-radius: 15%;
    border-style: hidden;
    padding: 10px;
    margin: 10px;
}

button:hover {
background-color: #183D3D;
color: #5C8374;
cursor: pointer;
}