body {
    background-color: #93B1A6;
    color: #183D3D;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

main {
    margin: 1rem;
    text-align: center;
    padding: 0 20% 0 20%;

}

footer{
    background-color: #5C8374;
    color: #040D12;
    text-align: center;
    font-size: 16px;
}

p {
    font-size: 20px;
}